@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.height {
  height: 100%;
}

.myCarousel
{
  background-color: white;
  
}


.myCarousel img {
  border-radius: 0.5rem !important;
  
}

.myCarousel figure {
  background-color: white;
}