@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff4f4;
  min-height: 100%;
  padding: 0;
}
html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
}

@media screen and (max-width: 992px) {
  .logo {
    display: none;
  }

  .menu {
    display:none;
  }
  .hamburger-menu {
    display:block;
  }
}
@media screen and (min-width: 992px) {
  .menu {display: flex;}
  .hamburger-menu {
    display:none;
  }
}

